---
layout: default
title: 阿呆
---
{% for post in paginator.posts %}
   <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}

{% if paginator.previous_page %}
<a src="{{ paginator.previous_page_path }}"></a>
{% endif %}



{% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="active">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
{% endfor %}

